/* подключаем шрифты */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  -webkit-tap-highlight-color: transparent;
  /* указываем это свойство,чтобы при нажатии кнопок на телефоне задний фон кнопок не изменялся на секунду на синий*/
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden;
  /* указываем это свойство,чтобы все дочерние элементы у элемента body не были видны,если они будут за пределами этого элемента body по оси x(в данном случае указываем это для анимаций,чтобы не было нижнего скролла) */
}

ul {
  list-style: none;
  /* убираем стили списков ul, чтобы они были без точек сбоку и тд */
}

a {
  color: inherit;
  /* указываем,что цвет ссылок будет таким же,как его родительский элемент */
  text-decoration: none;
  /* убираем подчеркивание ссылок */
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  border-bottom: 1px solid #E4E7E9;
}

.logo__img {
  max-width: 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo__text {
  color: #002603;
  font-size: 32px;
  font-weight: 500;
}

.menuList__item-linkCart {
  position: relative;
}

.menuList__item-spanCart {
  position: absolute;
  right: -5px;
  top: -2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #2C742F;
  font-size: 10px;
  color: #fff;
  font-weight: 500;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menuList {
  display: flex;
  align-items: center;
  gap: 50px;
}

.menuList__item-cartAndUser {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menuList__item-link {
  opacity: 1;
  transition: all .5s ease;
  font-size: 14px;
  font-weight: 500;
}

.menuList__item-link:hover {
  opacity: 0.5;
}

.menuList__item-linkActive {
  color: #00B207;
}

.sectionTop {
  opacity: 0;
  transition: all 1s ease;
  transform: translateX(-50%);
}

.sectionTop__active {
  opacity: 1;
  transform: translateX(0);
}

.sectionTop__top {
  margin-top: 24px;
  padding: 182px 0 246px 50px;
  background-image: url('../public/images/sectionTop/Hero.png');
  background-position: right;
}

.sectionTop__subtitle {
  font-size: 14px;
  font-weight: 500;
  color: #00B207;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.sectionTop__title {
  font-size: 54px;
  font-weight: 600;
  line-height: 1.2;
  color: #1A1A1A;
  max-width: 600px;
  margin-bottom: 15px;
}

.sectionTop__desc {
  font-size: 24px;
  font-weight: 400;
  color: #1A1A1A;
  margin-bottom: 12px;
}

.sectionTop__desc-orange {
  text-transform: uppercase;
  color: #FF8A00;
  font-weight: 600;
}

.sectionDesc__text {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  margin-bottom: 32px;
}

.sectionTop__link {
  background-color: #00B207;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 14px;
  max-width: 191px;
  transition: all 1s ease;
  padding: 16px 40px;
}

.sectionTop__link-text {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.sectionTop__link:hover {
  background-color: #1c8f1f;
}

.sectionTop__link:hover .sectionTop__link-img {
  animation: arrow 1s ease infinite;
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(100%);
  }

  70% {
    transform: translateX(-30%);
  }

  80% {
    transform: translateX(30%);
  }

  100% {
    transform: translateX(0);
  }
}

.sectionTop__bottom {
  margin-top: 24px;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0px 8px 40px 0px rgba(0, 38, 3, 0.08);
  /* параметры для box-shadow указываются так,значения по порядку, offset-x(по x) | offset-y(по y) | blur-radius | spread-radius | color */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 100px;
}

.sectionTop__bottom-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.item__textBlock-title {
  font-size: 16px;
  font-weight: 600;
  color: #1A1A1A;
}

.item__textBlock-desc {
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}

.sectionDeals {
  background-color: #F7F7F7;
  margin-bottom: 60px;
  opacity: 0;
  transform: translateX(50%);
  transition: all 1s ease;
}

.sectionDeals__active {
  opacity: 1;
  transform: translateX(0);
}

.sectionDeals__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;
}

.sectionDeals__top-link {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 1s ease;
  opacity: 1;
}

.sectionDeals__top-link:hover {
  opacity: 0.7;
}

.sectionDeals__top-link:hover .sectionDeals__top-linkImg {
  animation: arrow 1s ease infinite;
}

.sectionDeals__top-linkText {
  font-size: 16px;
  font-weight: 500;
  color: #00B207;
}

.sectionDeals__deals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #E6E6E6;
  background-color: #fff;
}

.sectionDeals__deals-item {
  padding: 12px;
  display: flex;
  flex-direction: column;
  transition: opacity .5s ease;
  opacity: 1;
}

.sectionDeals {
  padding: 60px 0;
}

.sectionDeals__deals-item:hover {
  border: 1px solid #2C742F;
  cursor: pointer;
  opacity: 0.7;
  box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}


.sectionDeals__deals-itemBorderRight {
  border-right: 1px solid #E6E6E6;
}

.sectionDeals__deals-itemBorderTopRight {
  border-right: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.sectionDeals__deals-itemBorderTop {
  border-top: 1px solid #E6E6E6;
}

.deals__item-img {
  align-self: center;
}

.deals__item-text {
  font-size: 14px;
  font-weight: 400;
  color: #4D4D4D;
}

.deals__item-price {
  font-size: 16px;
  font-weight: 500;
  color: #1A1A1A;
}

.deals__item-stars {
  margin-bottom: 1px;
}

.stars__itemOrange {
  max-width: 14px;
}

.sectionDiscountBanner {
  margin-bottom: 60px;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 1s ease;
}

.sectionDiscountBanner__active {
  opacity: 1;
  transform: translateX(0);
}

.sectionDiscountBanner__inner {
  padding: 60px;
  background-image: url('../public/images/sectionDiscountBanner/Discount\ Bannar.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
  border-radius: 10px;
}

.sectionDiscountBanner__sale-title {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}

.sectionDiscountBanner__sale-subtitle {
  text-transform: uppercase;
  font-size: 48px;
  color: #fff;
  margin-bottom: 16px;
}

.sale__subtitle-span {
  color: #FF8A00;
  margin-right: 10px;
}

.sectionDiscountBanner__sale-desc {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  max-width: 441px;
  margin-bottom: 28px;
}

.popularProducts {
  margin-bottom: 60px;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 1s ease;
}

.popularProducts__active {
  opacity: 1;
  transform: translateX(0);
}

.popularProducts__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #E6E6E6;
}

.sectionBrands {
  padding-bottom: 60px;
  opacity: 0;
  transform: translateX(50%);
  transition: all 1s ease;
}

.sectionBrands__active {
  opacity: 1;
  transform: translateX(0);
}

.sectionBrands__item-span {
  display: block;
  height: 32px;
  width: 2px;
  background-color: #E6E6E6;
}

.sectionBrands__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionBrands__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #E6E6E6;
  padding-right: 80px;
}

.footer {
  background-color: #1A1A1A;
  color: #808080;
}


.footer__logo-text {
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}

.footer__topBlock {
  padding: 60px 0;
  display: flex;
  gap: 112px;
  align-items: center;
}

.footer__leftBlock-telLink {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  border-bottom: 1px solid #00B207;
  padding-bottom: 6px;
  transition: opacity .5s ease;
  opacity: 1;
}

.footer__leftBlock-telLink:hover {
  opacity: 0.7;
}

.footer__leftBlock {
  max-width: 335px;
}

.footer__leftBlock-desc {
  font-size: 14px;
  font-weight: 400;
  margin: 16px 0px 22px 0;
}

.footer__menu-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
}

.footer__list-item {
  display: flex;
  flex-direction: column;
}

.footer__item-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
}

.footer__item-link {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  transition: all .5s ease;
}

.footer__item-link:hover {
  color: #fff;
}

.footer__bottomBlock {
  border-top: 1px solid #333333;
  padding: 30px 0;
  text-align: center;
}

.sectionCatalogTop {
  padding: 48px 0;
  background-image: url('../public/images/sectionCatalogTop/Breadcrumbs.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 32px;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 1s ease;
}

.sectionCatalogTop__active {
  opacity: 1;
  transform: translateX(0);
}

.sectionCatalogTop__inner {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sectionCatalogTop__text {
  color: #00B207;
  font-size: 16px;
  font-weight: 400;
}

.sectionCatalogTop__textGray {
  color: #808080;
  font-size: 16px;
  font-weight: 400;
}

.sectionCatalog {
  opacity: 0;
  transform: translateX(-50%);
  transition: all 1s ease;
}

.sectionCatalog__active {
  opacity: 1;
  transform: translateX(0);
}

.sectionCatalog__inner {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 24px;
}

.categories__title {
  font-size: 20px;
  font-weight: 500;
  color: #1A1A1A;
  margin-bottom: 20px;
}

.filterBar__categories {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.categories__item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all .5s ease;
}

.categories__item-radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  /* указываем это свойство,чтобы обрезать видимость элемента и указываем значения в скобках rect() top right bottom left,эти значения указывают расстояние от соответсвующего края элемента,все,что не помещается в эту область будет обрезано и не видно   */
}

.categories__item-radioStyle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #CCCCCC;
  border-radius: 50%;
  transition: all .5s ease;
}

.categories__item-text {
  font-size: 14px;
  font-weight: 400;
  color: #1A1A1A;
  margin-left: 28px;
}

.categories__item:hover .categories__item-radioStyle {
  border: 1px solid #00B207;
}

.categories__item-radioStyleActive {
  border: 1px solid #00B207;
}

/* .categories__item-radio:checked+.categories__item-radioStyleActive::before {
  content: "";
  width: 11px;
  height: 11px;
  background-color: #00B207;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
} */

.categories__item-ragioStyleBefore {
  opacity: 0;
}

.categories__item-ragioStyleBefore--active {
  display: block;
  opacity: 1;
  width: 11px;
  height: 11px;
  background-color: #00B207;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: opacity .5s ease;
}


.sectionCatalog__mainBlock-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainBlock__top-inputBlock {
  min-width: 450px;
  position: relative;
}

.categories__item-amount {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  opacity: 1;
  transition: opacity .3s ease;
}

.categories__item-amountDisable {
  opacity: 0;
}

.mainBlock__top-input {
  width: 100%;
  padding: 12px 44px 12px 20px;
  outline: none;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
}

.mainBlock__top-inputImg {
  position: absolute;
  top: 10px;
  right: 16px;
}

.mainBlock__top-selectBlock {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selectBlock__text {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
}

.selectBlock__select {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  min-width: 180px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  cursor: pointer;
  min-height: 41px;
}

.selectBlock__select-inner {
  position: relative;
}


.selectBlock__select-img {
  position: absolute;
  top: 13px;
  right: 12px;
}

.selectBlock__optionsBlock {
  max-height: 0;
  position: absolute;
  top: 45px;
  left: 0;
  opacity: 0;
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
  transition: all 1s ease;
  z-index: -2;
  overflow: hidden;
  /* указываем это свойство,чтобы все,что заходит за границы этого блока скрывалось(то есть все элементы,которые в html есть у этого блока), в данном случае,для анимации,когда уменьшаем высоту этого блока,чтобы текст не показывался ниже этого блока */
}

.select__optionsBlock--active {
  max-height: 100px;
  opacity: 1;
  z-index: 5;
}

.optionsBlock__item {
  padding: 12px 0 10px 10px;
  cursor: pointer;
  transition: all .5s ease;
}

.optionsBlock__item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.selectBlock__select-img {
  transform: rotate(0deg);
  transition: all .5s ease;
}

.selectBlock__select-imgActive {
  transform: rotate(180deg);
}

.filterBar__taste {
  border-bottom: none;
}

.categories__item-checkBoxStyle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: 1px solid #C9CFD2;
  border-radius: 3px;
}

.categories__item-checkBoxStyleActive {
  background-color: #00B207;
}

.categories__item-checkBoxStyleActive.categories__item-checkBoxStyleActive::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url('../public/images/sectionCatalog/check\ 1.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sectionCatalog__mainBlock-filters {
  margin: 24px 0;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainBlock__filters-amountBlock {
  display: flex;
  align-items: center;
  gap: 5px;
}

.filters__amountBlock-amount {
  color: #1A1A1A;
  font-size: 14px;
  font-weight: 500;
}

.filters__amountBlock-amountSubText {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
}

.mainBlock__filters-leftBlock {
  display: flex;
  align-items: center;
  gap: 24px;
}

.mainBlock__filters-text {
  color: #808080;
  font-size: 14px;
  font-weight: 400;
}

.mainBlock__filters-item {
  display: flex;
  align-items: center;
  gap: 8px;

}


.filter__item-imgBlock {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filters__item-imgActive {
  display: none;
}

.filter__item-imgBlock:hover .filters__item-img {
  display: none;
}

.filter__item-imgBlock:hover .filters__item-imgActive {
  display: block;
  animation: crossImgActive .5s ease forwards;
}

.filters__item-text {
  font-size: 14px;
  font-weight: 500;
  color: #1A1A1A;
}

@keyframes crossImgActive {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.sectionCatalog__mainBlock-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-bottom: 40px;
}

.mainBlock__products-item {
  border-radius: 8px;
  border: 1px solid #E6E6E6;
  padding: 16px;
  display: flex;
  flex-direction: column;
  transition: all .5s ease;
  opacity: 1;
}

.mainBlock__products-item:hover {
  border: 1px solid #2C742F;
  cursor: pointer;
  opacity: 0.7;
  box-shadow: 0px 0px 12px 0px rgba(32, 181, 38, 0.32);
}

.products__item-text {
  font-size: 14px;
  font-weight: 400;
  color: #4D4D4D;
}

.products__item-price {
  font-size: 16px;
  font-weight: 500;
  color: #1A1A1A;
}

.products__item-img {
  align-self: center;
}

.sectionCatalog__notFoundText {
  font-weight: 600;
  font-size: 16px;
}

.sectionCatalog__mainBlock-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.pagination__btnArrowLeft {
  margin-right: 8px;
}

.pagination__btnArrowRight {
  margin-left: 8px;
}

.pagination__btnArrow {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #E6E6E6;
  cursor: pointer;
  transition: all .5s ease;
}

.pagination__btnArrow:hover {
  background-color: #F2F2F2;
}

.pagination__page {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px 14px;
  text-align: center;
  cursor: pointer;
  color: #808080;
  transition: all .5s ease;
  font-size: 16px;
}

.pagination__page--active {
  background-color: #00B207;
  color: #fff;
}

.pagination__page:hover {
  background-color: #00B207;
  color: #fff;
}

.sectionProductItemTop__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 24px;
}

.stars__ProductItemPage {
  max-width: none;
}

.sectionProductItemTop__img {
  justify-self: center;
}

.sectionProductItemTop__info-title {
  font-size: 36px;
  font-weight: 600;
  color: #1A1A1A;
}

.sectionProductItemTop__info-price {
  font-size: 24px;
  font-weight: 500;
  color: #2C742F;
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 24px;
}

.categoryBlock__category-text {
  font-size: 14px;
  font-weight: 500;
  color: #1A1A1A;
}

.categoryBlock__category-subtext {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
}

.categoryBlock__category {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 12px;
}


.sectionProductItemTop {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s ease;
}

.sectionProductItemTop--active {
  opacity: 1;
  transform: translateX(0);
}

.sectionProductItemTop__info-categoryBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sectionProductItemTop__info-desc {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  padding-bottom: 24px;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 20px;
}

.CartBlock__inputBlock-input {
  padding: 16px 42px;
  border-radius: 170px;
  border: 1px solid #E6E6E6;
  width: 100%;
  outline: none;
  text-align: center;
}

/* убираем стрелки вверх и вниз для инпута с типом number по умолчанию */
.CartBlock__inputBlock-input::-webkit-inner-spin-button,
.CartBlock__inputBlock-input::-webkit-outer-spin-button {
  appearance: none;
}

.CartBlock__inputBlock-inputBtn {
  background-color: #F2F2F2;
  border-radius: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 34px;
  padding: 10px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .5s ease;
}

.CartBlock__inputBlock-inputBtn:hover {
  opacity: 0.7;
}

.CartBlock__inputBlock-inputBtnMinus {
  position: absolute;
  top: 8px;
  left: 8px;
}

.CartBlock__inputBlock-inputBtnPlus {
  position: absolute;
  top: 8px;
  right: 8px;
}

.info__CartBlock-inputBlock {
  position: relative;
  max-width: 124px;
}

.sectionProductsItemTop__info-CartBlock {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 57px;
}

.info__CartBlock-btn {
  background-color: #00B207;
  padding: 10px 160px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 16px;
  border: none;
  border-radius: 43px;
  cursor: pointer;
  opacity: 1;
  transition: all .5s ease;
}

.info__CartBlock-btn:hover {
  opacity: 0.7;
  animation: cartBlock__btn 1s ease infinite;
}

.CartBlock__btn-text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.info__CartBlock-btn:hover .CartBlock__btn-img {
  animation: cartBlock__btnImg 1s ease infinite;
}

@keyframes cartBlock__btn {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes cartBlock__btnImg {
  0% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(100%);
  }

  50% {
    transform: translateX(-20%);
  }

  70% {
    transform: translateX(20%);
  }

  100% {
    transform: translateX(0);
  }
}


.sectionProductItemTop__description {
  margin: 57px 0 70px;
}

.sectionProductItemTop__description-tabs {
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.description__tabs-btn {
  padding: 16px;
  color: #808080;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: color .5s ease;
}

.description__tabs-btn:hover {
  color: #1A1A1A;
}

.description__tabs-btn--active {
  color: #1A1A1A;
  border-bottom: 2px solid #20B526;
}

.description__mainBlock-text {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  margin-bottom: 15px;
}

.sectionProductItemTop__description-mainBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  animation: appear 1s ease forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.rightBlock__checkers-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 14px;
}

.checkers__item-text {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
}

.mainBlock__rightBlock-discount {
  padding: 24px 20px;
  border: 1px solid #E6E6E6;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
  max-width: 537px;
  margin-top: 50px;
}

.rightBlock__discount-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.discount__item-infoTitle {
  font-size: 14px;
  font-weight: 600;
  color: #1A1A1A;
  margin-bottom: 6px;
}

.discount__item-infoText {
  font-size: 13px;
  font-weight: 400;
  color: #808080;
}

.sectionProductItemTop__reviews {
  animation: appear 1s ease forwards;
}

.reviews__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reviews__top-notFoundTitle {
  font-size: 16px;
  font-weight: 500;
  color: #808080;
}

.reviews__top-addBtn {
  font-family: 'Poppins', sans-serif;
  padding: 10px 30px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-color: #00B207;
  border-radius: 43px;
  border: none;
  cursor: pointer;
  transition: all .5s ease;
}

.reviews__top-addBtn:hover {
  background-color: #329135;
}

.reviews__mainBlock {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.topUserBlock-title {
  font-size: 20px;
  font-weight: 700;
  color: #1A1A1A;
}

.reviews__leftBlock-itemTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.leftBlock__itemTop-userBlock {
  display: flex;
  align-items: center;
  gap: 12px;
}

.leftBlock__itemMain-text {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
}

.leftBlock__itemTop-dataText {
  font-size: 14px;
  font-weight: 400;
  color: #929292;
}

.userBlock__userInfo-title {
  font-size: 14px;
  font-weight: 500;
  color: #1A1A1A;
}

.reviews__rightBlock-btnBlock {
  display: flex;
  justify-content: end;
}

.reviews__rightBlock-btnBlockNone {
  display: none;
}

.reviews__form-topUserBlock {
  display: flex;
  gap: 10px;
  align-items: center;
}

.reviews__form-topBlock {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-bottom: 20px;
}

.reviews__rightBlock-form {
  opacity: 0;
  transition: all 1s ease;
  transform: translateX(100%);
}

.reviews__rightBlock-form--active {
  opacity: 1;
  transform: translateX(0);
}

.reviews__form-topStars {
  display: flex;
  align-items: center;
}

.reviews__form-textArea {
  width: 100%;
  margin-bottom: 15px;
  outline: none;
  border: 1px solid #E5E5E5;
  padding: 15px 20px 10px 15px;
  resize: none;
  /* убираем возможность изменять размер textarea */
  min-height: 70px;
}

.reviews__form-submitBtn {
  font-family: 'Poppins', sans-serif;
  padding: 8px 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-color: #00B207;
  border-radius: 43px;
  border: none;
  cursor: pointer;
  transition: all .5s ease;
}

.reviews__form-submitBtn:hover {
  background-color: #369b39;
}

.topStars__img {
  cursor: pointer;
  opacity: 1;
  transition: all .5s ease;
}

.topStars__img:hover {
  opacity: 0.5;
}

.sectionCart__title {
  font-size: 32px;
  font-weight: 600;
  color: #1A1A1A;
  margin-bottom: 32px;
  text-align: center;
}

.sectionCart {
  padding-bottom: 200px;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s ease;
  ;
}

.sectionCart--active {
  opacity: 1;
  transform: translateX(0);
}

.sectionCart__main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
}

.sectionCart__main-tableCart {
  border: 1px solid #E6E6E6;
  border-radius: 10px;
}

.tableCart__top {
  padding: 16px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.3fr;
  border-bottom: 1px solid #E6E6E6;
}

.tableCart__top-text {
  font-size: 14px;
  font-weight: 500;
  color: #808080;
  text-transform: uppercase;
}

.tableCart__item-img {
  max-width: 100px;
  opacity: 1;
  transition: all .5s ease;
}

.tableCart__product-item {
  padding: 11px 20px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 0.3fr;
  align-items: center;
}

.tableCart__item-leftBlock {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tableCart__item-text {
  font-size: 16px;
  font-weight: 400;
  color: #1A1A1A;
  font-family: 'Poppins', sans-serif;
  transition: all .5s ease;
}

.tableCart__item-img:hover {
  cursor: pointer;
  opacity: 0.7;
}

.tableCart__item-text:hover {
  cursor: pointer;
  color: #FF8A00;
}

.tableCart__item-price {
  font-size: 16px;
  font-weight: 400;
  color: #1A1A1A;
}

.tableCart__item-subtotal {
  font-size: 16px;
  font-weight: 500;
  color: #1A1A1A;
}

.tableCart__item-closeBtn {
  background-color: #fff;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity .5s ease;
}

.tableCart__item-closeBtn:hover {
  opacity: 0.5;
}

.tableCart__bottomBlock {
  padding: 16px 20px;
  display: flex;
  justify-content: end;
  border-top: 1px solid #E6E6E6;
}

.tableCart__bottomBlock-btn {
  border-radius: 43px;
  background-color: #F2F2F2;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 600;
  padding: 14px 32px;
  border: none;
  cursor: pointer;
  transition: all .5s ease;
  font-family: 'Poppins', sans-serif;
}

.tableCart__bottomBlock-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.sectionCart__main-rightBlock {
  border-radius: 10px;
  border: 1px solid #E6E6E6;
  padding: 24px;
}

.sectionCart__rightBlock-title {
  font-size: 20px;
  font-weight: 500;
  color: #1A1A1A;
  margin-bottom: 7px;
}

.sectionCart__rightBlock-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.sectionCart__rightBlock-itemTitle {
  font-size: 14px;
  font-weight: 400;
  color: #4D4D4D;
}

.sectionCart__rightBlock-itemText {
  font-size: 14px;
  font-weight: 500;
  color: #1A1A1A;
}

.sectionCart__rightBlock-itemTextBold {
  font-size: 16px;
  font-weight: 600;
  color: #1A1A1A;
}

.sectionCart__rightBlock-itemBorderTop {
  border-top: 1px solid #E6E6E6;
  padding-top: 12px;
}

.sectionCart__rightBlock-btn {
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
  border-radius: 43px;
  background-color: #00B207;
  color: #fff;
  padding: 16px 100px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  transition: all .5s ease;
}

.sectionCart__rightBlock-btn:hover {
  background-color: #369b39;
}

.sectionUserForm__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 0 80px 0;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s ease;
}

.sectionUserForm__inner--active {
  opacity: 1;
  transform: translateX(0);
}

.sectionUserForm__login {
  border-radius: 8px;
  border: 1px solid #F2F2F2;
  /* какие значение что значат в данном box-shadow по порядку, offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 0 56px 0 rgba(0, 38, 3, 0.1);
  max-width: 520px;
  padding: 24px 24px 32px;
  animation: appear 1s ease forwards;
}


.sectionUserForm__login-title {
  font-size: 32px;
  font-weight: 600;
  color: #1A1A1A;
  margin-bottom: 20px;
  text-align: center;
}

.sectionUserForm__login-input {
  font-family: 'Poppins', sans-serif;
  border-radius: 8px;
  border: 1px solid #E6E6E6;
  padding: 14px 16px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  margin-bottom: 12px;
  min-width: 472px;
}

.sectionUserForm__login-passwordBlock {
  position: relative;
}

.sectionUserForm__login-inputPassword {
  padding: 16px 50px 16px 16px;
}

.login__passwordBlock-img {
  position: absolute;
  top: 19px;
  right: 15px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .5s ease;
}

.login__passwordBlock-img:hover {
  opacity: 0.5;
}

.sectionUserForm__login-btn {
  margin-top: 12px;
  font-family: 'Poppins', sans-serif;
  background-color: #00B207;
  border-radius: 43px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  border: none;
  transition: all .5s ease;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 14px 150px;
  width: 100%;
}

.sectionUserForm__login-btn:hover {
  background-color: #1c8f1f;
}

.sectionUserForm__login-textBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.login__textBlock-text {
  font-size: 14px;
  font-weight: 400;
  color: #808080;
}

.login__textBlock-linkText {
  font-size: 14px;
  font-weight: 500;
  color: #1A1A1A;
  opacity: 1;
  transition: opacity .5s ease;
  cursor: pointer;
}

.login__textBlock-linkText:hover {
  opacity: 0.5;
}

.categories__item-textLogin {
  opacity: 1;
  transition: opacity .5s ease;
}

.categories__item-textLogin:hover {
  opacity: 0.5;
}

.formErrorText {
  font-size: 16px;
  color: #EE5858;
  font-weight: 400;
  margin-bottom: 5px;
}

.innerForLoader{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.loader{
  margin-top: 200px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border:3px dashed #3589c2;
  animation: rotate 1s infinite ease;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg) scale(1);
  }
  100%{
    transform: rotate(360deg) scale(1.2);
  }
}


.sectionUserPage__inner{
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap:24px;
}

.sectionUserPage__leftBar{
  padding: 24px 0 12px;
  border: 1px solid #E6E6E6;
  border-radius: 8px;
}

.sectionUserPage__leftBar-title{
  font-size: 20px;
  font-weight: 500;
  color: #1A1A1A;
  margin: 0 0 16px 20px;
}

.leftBar__list-item{
  padding: 16px 0 16px 20px;
  display: flex;
  align-items: center;
  gap:10px;
  cursor: pointer;
  transition:all .5s ease;
}

.leftBar__list-item:hover{
  background-color: #dfdfdf;
}

.leftBar__list-item--active{
  background-color: #EDF2EE;
  border-left: 1px solid #20B526;
}

.leftBar__list-text{
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  transition:color .5s ease;
}

.leftBar__list-text--active{
  color: #1A1A1A;
}

.sectionUserPage__dashboard-userInfo{
  padding: 32px 0;
  border-radius: 8px;
  border: 1px solid #E6E6E6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard__userInfo-name{
  margin-top: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #1A1A1A;
  margin-bottom: 10px;
}

.dashboard__userInfo-email{
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  margin-bottom: 10px;
}

.dashboard__userInfo-btn{
  border: none;
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  color: #00B207;
  font-family: 'Poppins',sans-serif;
  cursor: pointer;
  opacity: 1;
  transition: opacity .5s ease;
}

.dashboard__userInfo-btn:hover{
  opacity: 0.7;
}